Pre-sale boutique villas in Maduwan, heart of the island. Custom design, flexible payment terms, private pool. Lease or company. Private villa from {{pp.1bed.thb}} ({{pp.1bed.usd}} / {{pp.1bed.eur}}). Range {{pp.range.thb}}.